@font-face {
    font-family: Roboto-Thin;
    src: url("./res/font/Roboto-Thin.ttf");
}

html {
    background: #FFF;
    font-family: Roboto-Thin, sans-serif;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}


#header-bar {
    background: #777;
    color: #FFF;
    height: 10%;
    font-size: 2em;
}

#main-content {
    font-size: 3em;
    background: #CCC;
    height: 80%;
}

#footer-bar {
    background: #777;
    color: #FFF;
    height: 10%;
    font-size: 1.5em;
}

span,
#on-load-content {
    margin-left: 1em;
}